<!DOCTYPE html>
<html lang="en">
<head>
    <title>FLYair</title>
    <link rel="stylesheet" href="/css/main.css">
	<link rel="shortcut icon" href="/img/ticket.png">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">FLYair</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/home/dashboard">HOME</a></li>
                    <li><a href="/interogari">INTEROGARI</a></li>
                    <li><a href="/clienti">CLIENTI</a></li>
                    <li><a href="/zboruri">ZBORURI</a></li>
                    <li><a href="/bilete">BILETE</a></li>
                    <li><a href="/cupoane">CUPOANE</a></li>
                    
                    <div class="search">
                        <a href="/home/logout"><button class="btn">LOG OUT</button></a>
                    </div>

                </ul>
            </div>
        </div> 

        <div class="dash_content content">
            <h1>Realizat de <br><span>Iamnitchi Bogdan</span> <br>Proiect</h1>
            <p class="par">Aceasta pagina web este corespunzatoare proiectului partial la Baza de Date 
				<br> si are ca scop implementarea unei interfete prietenoase cu utilizatorul 
                <br> in ceea ce priveste interogarile care s-au realizat in limbaj SQL.</p>

                <button class="cn"><a href="/interogari">VEZI INTEROGARILE</a></button>

        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>